@import "night.css"; 

* {
  color: @fg;
  font-family: "FiraCode Nerd Font";
  font-size: 98%;
  font-weight: bold;
  min-height: 10px;
}


window#waybar,
window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

tooltip {
  background-color: alpha(@bg_dark1, 0.8);
}

.modules-left {
  padding: 6px;
  margin: 6px 0px 0px 10px;
  border-radius: 1em;
  background-color: alpha(@bg_dark1, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
  padding: 6px;
  margin: 6px 0px 0px 0px;
  border-radius: 1em;
  background-color: alpha(@bg_dark1, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
  padding: 6px;
  margin: 6px 10px 0px 0px;
  border-radius: 1em;
  background-color: alpha(@bg_dark1, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#taskbar button,
#workspaces button {
  margin: 0 2px;
  padding: 0 12px;
  border-radius: 1em;
}

#taskbar button.active,
#workspaces button.active {
  color: @orange;
  background: @bg_highlight;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  border-radius: 1em;
  padding: 0 8px;
}

#pulseaudio {
  color: @yellow;
  /* background-color: alpha(@yellow, 0.2); */
}

#backlight {
  color: @blue1;
  /* background-color: alpha(@blue1, 0.2); */
}

#network {
  color: @blue;
  /* background-color: alpha(@blue, 0.2); */
}

#cpu {
  color: @magenta;
  /* background-color: alpha(@magenta, 0.2); */
}

#memory {
  color: @orange;
  /* background-color: alpha(@orange, 0.2); */
}

#battery {
  color: @green;
  /* background-color: alpha(@green, 0.2); */
}

#battery.charging {
  color: @teal;
  /* background-color: alpha(@teal, 0.2); */
}

#battery.warning:not(.charging) {
  color: @yellow;
  /* background-color: alpha(@yellow, 0.2); */
}

#battery.critical:not(.charging) {
  color: @red;
  /* background-color: alpha(@red, 0.2); */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
	to {
		color: #000000;
	}
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

