@import "night.css"; 

* {
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  min-height: 10px;
  font-weight: bold;
  color: @fg;
}

window#waybar {
  all:unset;
}

.modules-left {
  padding: 6px;
  margin: 6px 0px 0px 10px;
  border-radius: 1em;
  background: @bg_dark1;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
  padding: 6px;
  margin: 6px 0px 0px 0px;
  border-radius: 1em;
  background: @bg_dark1;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
  padding: 6px;
  margin: 6px 10px 0px 0px;
  border-radius: 1em;
  background: @bg_dark1;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
  background: @bg_dark1;
  color: @fg;
}

#workspaces button {
  border-radius: 1em;
  padding: 0 12px;
}

#workspaces button.active,
#workspaces button.focused {
  color: @teal;
  background: alpha(@fg, 0.2);
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  border-radius: 1em;
  padding: 0 12px;
}

#backlight {
  background-color: alpha(@fg, 0.2);
}

#pulseaudio {
  color: @blue5;
  background-color: alpha(@blue5, 0.2);
}

#network {
  color: @orange;
  background-color: alpha(@orange, 0.2);
}

#cpu {
  color: @magenta;
  background-color: alpha(@magenta, 0.2);
}

#memory {
  color: @blue;
  background-color: alpha(@blue, 0.2);
}

#battery {
  color: @green;
  background-color: alpha(@green, 0.2);
}

#battery.charging {
  color: @teal;
  background-color: alpha(@teal, 0.2);
}

#battery.warning:not(.charging) {
  color: @yellow;
  background-color: alpha(@yellow, 0.2);
}

#battery.critical:not(.charging) {
  color: @red;
  background: alpha(@red, 0.2);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @blue1;
  background-color: alpha(@blue1, 0.2);
}

#clock.date {
  color: @blue1;
  background-color: alpha(@blue1, 0.2);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

